<div class="header">
  <h3 class="text-muted">chatty</h3>
</div>

<h4>Latest Chats:</h4>
<div class="jumbotron">

	<form ng-submit="addMessage(newMessage)">
		<input ng-model="newMessage" type="text" placeholder="Hello!">
	</form>

  <form ng-submit="addName(newName)">
    <input ng-model="newName" type="text" placeholder="Username">
  </form>

	<div ng-repeat="message in messages name in username track by $index">{{ message.message }} : {{ message.time
  | date:'h:mm a' }} </div>

  <!-- <div ng-repeat="name in username">
{{ name }}
  </div> -->

</div>
